body{/* Styling for the body element */
    background-color: beige;/*the color of the webpage*/
    font-size: 20px;
    
}
h1{/*styling for the h1*/ 
    background-color:burlywood;/*background color for the h1*/
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;/*type of the font*/
    font-size: 30px;/*The font size can be defined by small-large..etc)or 32px - 40px*/
    text-align: center;
}
h2{/*styling for the h2*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;/*type of the font*/
    background-color:burlywood;/*background color for the h1*/
}
input{
    size: 100px;
}
main{
display: flex;/*displays main as flex container*/
flex-direction: row;/*Sets the direction of flex items to row*/
justify-content: center;/*Aligns flex items along the center of the main axis*/
margin: auto;/*Centers the main element horizontally*/
}
.logo{ 
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 20%;
}
.logo img{
    height: 20px;
}
.chocolate-cake {
    justify-content: center;
    display: flex;
    height: 700px;
}
.cake{
    justify-content: center;
    height: 600px;
}
.ingrediants{
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 20%;
}
a{
    padding: 20px;
    text-decoration: none;
}
 