/* Global Styles */
body {
    font-family: Copperplate, Papyrus, fantasy;
    background-color: #f5f7fa;
    margin: 0;
    padding: 0;
}
header {
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
    border: 15px solid #efda4f;
    border-radius: 25px;
    background-color: #efda4f;
    color: black;
    padding: 20px 0;
}
header h1 {
    margin: 0;
   text-align: center;
}
.nav {
    overflow: hidden;
    background-color: #efda4f;
    text-align: center;
  }
  
  .nav a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
  }
.image{
    width: 95%; 
    margin: 0 auto; 
    border: 15px solid #efda4f;
    border-radius: 25px;
    height: 95%;
}
.top-left {
    position: absolute;
    top: 33%;
    left: 50px;
    font-size: 30px;
    font-family: Copperplate, Papyrus, fantasy;
  }
.centered {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Copperplate, Papyrus, fantasy;
    font-size: 40px;
    text-align: center;
  }
  .bottom-right {
    position: absolute;
    right:  70px;
    top: 870px;
    font-family: Copperplate, Papyrus, fantasy;
    font-size: 30px;
  }
  .Web{
    margin: 0 auto;
    overflow: hidden;
    border: solid #efda4f;
    background-color: #efda4f ;
    border-radius: 25px;
    width: 95%;
   text-align: center;
  }
main {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    background-image: url("dots.gif");/*to make the image as a background*/
    image-orientation: from-image;/* to put the text above the image*/
   
    width: 100%;
}
.column {
    width: 30%;
    left: 8px;
}
.course-list {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    border-radius: 25px;
    border-radius: 5px;
}
.course-item {
    margin-bottom: 10px;
}
button {
    background-color:  #efda4f;
    color: black;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #efda4f;
}

footer {
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
    border: 15px solid #efda4f;
    border-radius: 25px;
    background-color: #efda4f;
    color: #fff;
    text-align: center;
    color: black;
}
