#A{/*<box-shadow> applies shodow for the box*/
    box-shadow: 10px 10px 5px rgb(133, 156, 163) inset; border-color: red;
}
#B{
    box-shadow: 10px 10px 5px#4CAF50; 
}
#C{
    border-radius: 40px;/* to make the box have curved corners*/
    border-color: #28672a;/*the color of the border*/  
    outline: #4CAF50 solid 10px;/*<outline>An outline is a line drawn outside the element's border.*/
    outline-offset: 10px; /*The outline-offset property adds space between an outline and the edge/border of an element*/
}
#D{
    border-color:#4CAF50; /*the color of the border*/
    text-shadow: 5px 5px red/*<text-shadow> applies shodow for the text*/
}