body {
    background-image: url("background.jpg");
}

h2 {
    background-color: burlywood;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
}

.Audio {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 80px;
    padding: 10px;
  }
  .Audio > div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
    height: 170px;
    width: 500px;
    margin-left:10px ;
  }
 

